**READING JSON FILES**

In [3]:
#This section of code reads the contents in the records.json file and stores into dictionary records

import json 
import time  

file = open("records.json","r")     #Reading records.json
txt = file.read()
file.close()
records = json.loads(txt)

file = open("sales.json",'r')   #Reading sales.json
txt = file.read()
file.close()
txns = json.loads(txt)

txnid = []
for i in txns.keys() :
  txnid.append(int(i))
txnid = max(txnid)

**DISPLAY RECORDS**

In [4]:
#This section prints the items in records

print(f'{"ID":<6}',f'{"NAME":<20}',f'{"PRICE(Rs)":<10}',f'{"QUANTITY":<9}')
for i in range(48) : print("-",end = "")
print()
for i in records.keys() :
  name = records[i]['name']
  pr = records[i]['pr']
  qn = records[i]['qn']
  print(f'{i:<6}',f'{name:<20}',f'{pr:<10}',f'{qn:<9}')

ID     NAME                 PRICE(Rs)  QUANTITY
------------------------------------------------
1001   Choco Cake           100        25
1002   Milk Cake            800        100
1003   Drink                85         150
1004   Candy                5          450
1005   Pen                  20         198
1006   Phone                50000      9
1007   Mic                  1500       48
1008   Case                 599        5
1009   Keyboard             1999       10
1010   Laptop               50000      49
1011   Trimmer              560        70
1012   Notebook             30         197
1013   Bag                  300        40
1014   Shoe                 700        99
1015   Earphones            400        48
1016   Camera               2000       80
1017   Mattress             900        75
1018   Chair                470        88
1019   TV                   39999      20
1020   AC                   15999      31
1021   Microwave            7999       49
1022   Refrigerator         26999      160
1023   Washing Machine      15999      30
1024   Helmet               599        79
1025   Car cover            799        199
1026   Bike cover           599        250
1027   Vacuum cleaner       23999      60
1028   Perfume              759        250
1029   Painting kit         300        280
1030   Bottle               70         500
1031   Soap                 40         300
1032   Towel                70         197
1033   Mouse                400        120
1034   Pillow               200        300
1035   Slippers             250        300
1036   Shampoo              120        150

**DISPLAY TRANACTIONS**

In [5]:
#This section prints the items in records

print(f'{"ID":<6}',f'{"NAME":<20}',f'{"PRICE(Rs)":<10}',f'{"QUANTITY":<9}')
for i in range(48) : print("-",end = "")
print()
for i in records.keys() :
  name = records[i]['name']
  pr = records[i]['pr']
  qn = records[i]['qn']
  print(f'{i:<6}',f'{name:<20}',f'{pr:<10}',f'{qn:<9}')

ID     NAME                 PRICE(Rs)  QUANTITY
------------------------------------------------
1001   Choco Cake           100        25
1002   Milk Cake            800        100
1003   Drink                85         150
1004   Candy                5          450
1005   Pen                  20         198
1006   Phone                50000      9
1007   Mic                  1500       48
1008   Case                 599        5
1009   Keyboard             1999       10
1010   Laptop               50000      49
1011   Trimmer              560        70
1012   Notebook             30         197
1013   Bag                  300        40
1014   Shoe                 700        99
1015   Earphones            400        48
1016   Camera               2000       80
1017   Mattress             900        75
1018   Chair                470        88
1019   TV                   39999      20
1020   AC                   15999      31
1021   Microwave            7999       49
1022   Refrigerator         26999      160
1023   Washing Machine      15999      30
1024   Helmet               599        79
1025   Car cover            799        199
1026   Bike cover           599        250
1027   Vacuum cleaner       23999      60
1028   Perfume              759        250
1029   Painting kit         300        280
1030   Bottle               70         500
1031   Soap                 40         300
1032   Towel                70         197
1033   Mouse                400        120
1034   Pillow               200        300
1035   Slippers             250        300
1036   Shampoo              120        150

**ADDING NEW PRODUCTS TO THE RECORD**

In [7]:
#This section adds new product to the product details

pdtid = input("Enter the product id : ")
name = input("Enter the product name : ")
pr = int(input("Enter the product price : "))
qn = int(input("Enter the quantity of the product : "))
records[pdtid] = {'name':name,'pr':pr,'qn':qn}
print("PRODUCT ADDED") 

txnid = txnid +1     #Updating txns
ti = time.ctime()
txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qn,'fn':"NEW",'ti':ti}

Enter the product id : 1021
Enter the product name : Microwave
Enter the product price : 7999
Enter the quantity of the product : 2
PRODUCT ADDED

**bold text**

**ADDIND EXISTING PRODUCTS**

In [8]:
pdtid = input("Enter the product id : ")
name = records[pdtid]['name']
print("Product name : ",name)
pr = records[pdtid]['pr']
print("Product price : ",pr)
qn = records[pdtid]['qn']
print("Available product quantity : ",qn)
qt = int(input("Enter the quantity to be added : "))
qn = qt + qn
records[pdtid] = {'name':name,'pr':pr ,'qn':qn}
print("PRODUCT ADDED") 


txnid = txnid +1     #Updating txns
ti = time.ctime()
txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qn,'fn':"ADDED",'ti':ti}

Enter the product id : 1026
Product name :  Bike cover
Product price :  599
Available product quantity :  250
Enter the quantity to be added : 20
PRODUCT ADDED

**REMOVING A PRODUCT**

In [9]:
#Removing a product makes its quantity 0

pdtid = input("Enter the product id : ")
records[pdtid]['qn'] = 0
print("Product quantity made 0")

#Updating txns 
txnid = txnid +1
ti = time.ctime()
name = records[pdtid]['name']
pr = records[pdtid]['pr']
qn = records[pdtid]['qn']
txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qn,'fn':"REMOVED",'ti':ti}

Enter the product id : 1027
Product quantity made 0

**PURCHASING PRODUCT**

In [11]:
pdtid = input("Enter the product id : ")
print(f'{"Product name":<13}',': ',records[pdtid]['name'])
print(f'{"Price":<13}',': ',records[pdtid]['pr'])
print(f'{"Quantity":<13}',': ',records[pdtid]['qn'])
qt =int(input("Enter quantity to be purchased : "))
if(qt > records[pdtid]['qn']) : print ("Note : Excess quantity entered\nQuantity available : ",records[i]['qn'])
else :
  print("Bill(Rs) : ",records[pdtid]['pr']*qt)
  print("Product successfully purchased")
  records[pdtid]['qn'] = records[pdtid]['qn'] - qt
  txnid = txnid +1         #Updating txns
  ti = time.ctime()
  name = records[pdtid]['name']
  pr = records[pdtid]['pr']
  qn = records[pdtid]['qn']
  txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qt,'fn':"PURCHASED",'ti':ti}

Enter the product id : 1005
Product name  :  Pen
Price         :  20
Quantity      :  198
Enter quantity to be purchased : 10
Bill(Rs) :  200
Product successfully purchased

**WRITING THE JSON FILES**

In [12]:
file = open ("records.json",'w')    #writing records.json
txt = json.dumps(records)
file.write(txt)
file.close()


file = open ("sales.json",'w')    #writing sales.json
txt = json.dumps(txns)
file.write(txt)
file.close()

In [13]:
###This section is used only to delete the product along with product id if any mistake is made while entering the product id

wrongid = input("Enter the incorrectly typed id : ")
if wrongid in records.keys() :
  del records[wrongid]
  print("ID DELETED")
else :
  print("***THIS INCORRECT ID HAS NOT BEEN ENTERED***")

Enter the incorrectly typed id : 1049
***THIS INCORRECT ID HAS NOT BEEN ENTERED***

# **FIN.**